Django==4.2.3
djangorestframework==3.14.0
django-admin-adminlte==1.0.5
drf-yasg==1.21.7
celery==5.3.1
python-dotenv==1.0.0
django-celery-results==2.5.1
redis==4.6.0
beautifulsoup4==4.12.2
mysqlclient==2.2.0
eventlet==0.33.3
